name: mdBook

on:
  push:
    branches: [master]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: "1.91.0"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Install mdBook
        run: cargo install mdbook --locked

      - name: Install pandoc
        run: sudo apt-get install -y pandoc

      - name: Build documentation
        run: |
          scripts/gen-manpage.sh
          mdbook build docs

      - name: Archive built book
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/book

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Publish to GitHub Pages
        uses: actions/deploy-pages@v4
